<div class="bw-findStoresSection">
    <div class="bw-fssLeft">
        <div class="bw-logoCont">
            <a href="javascript:void(0)" title="BlueWes">
                <img src="/assets/img/logo.png" alt="BlueWes Logo">
            </a>
        </div>
        <div class="bw-locateCont">
            <h1>Search For Fashion?</h1>
            <h2>Everything and anything</h2>
            <div class="bw-locateStore">
                <input type="text" id="location" placeholder="Enter your location" autocomplete="off">
                <span class="locateMe" (click)="locateMe()">
                    <i class="bw-ico-gps_fixed"></i>
                    <small>Locate me</small>
                </span>
                <button class="bw-globalBtn bw-smooth">find stores</button>
            </div>
            <p>Everything and anything they can get from the Bluewes... Just like we are making a shopping mall in
                online. Anyone can keep they business in our online mall.</p>
        </div>
    </div>
    <div class="bw-fssRight">
        <carousel [interval]="100">
            <slide>
                <img src="/assets/img/carouselImg@2x.png" alt="Carousel Img">
            </slide>
            <slide>
                <img src="/assets/img/carouselImg@2x.png" alt="Carousel Img">
            </slide>
            <slide>
                <img src="/assets/img/carouselImg@2x.png" alt="Carousel Img">
            </slide>
            <slide>
                <img src="/assets/img/carouselImg@2x.png" alt="Carousel Img">
            </slide>
        </carousel>
    </div>
</div>
<div class="bw-servicesCont">
    <div class="container">
        <div class="bw-serviceList">
            <ul class="list-inline">
                <li>
                    <div class="bw-serviceBox">
                        <img src="/assets/img/groceries@2x.png" alt="Groceries">
                        <b>Groceries</b>
                        <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply</p>
                    </div>
                </li>
                <li>
                    <div class="bw-serviceBox">
                        <img src="/assets/img/electronics@2x.png" alt="Electronics">
                        <b>electronics</b>
                        <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply</p>
                    </div>
                </li>
                <li>
                    <div class="bw-serviceBox">
                        <img src="/assets/img/mechanic@2x.png" alt="Service">
                        <b>service</b>
                        <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply</p>
                    </div>
                </li>
                <li>
                    <div class="bw-serviceBox">
                        <img src="/assets/img/fashion@2x.png" alt="Fashion">
                        <b>fashion</b>
                        <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="bw-footer">
    <div class="container">
        <div class="bw-footerLinks">
            <ul class="list-inline">
                <li>
                    <div class="bw-footLinks">
                        <b>BLUEWES</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="javascript:void(0)" title="About Us">About Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="In News">In News</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Bigbasket">Bigbasket</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Affiliate">Affiliate</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Terms & Conditions">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Careers At BLUEWES">Careers At BLUEWES</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>Our Services</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="javascript:void(0)" title="Groceries">Groceries</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Fashion">Fashion</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Services">Services</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Electronics">Electronics</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>HELP</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="javascript:void(0)" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Contact Us">Contact Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="bb Wallet FAQs">bb Wallet FAQs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="bb Wallet T&Cs">bb Wallet T&Cs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Vendor Connect">Vendor Connect</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>FOLLOW US</b>
                        <ul class="list-inline socialLinks">
                            <li>
                                <a href="javascript:void(0)" title="BlueWes Facebook">
                                    <span><i class="bw-ico-facebook"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="BlueWes Twitter">
                                    <span><i class="bw-ico-twitter"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="BlueWes Instagram">
                                    <span><i class="bw-ico-instagram"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bw-copyRight text-center">
            <p>&copy; Bluewes </p>
            <ul class="list-inline">
                <li>
                    <a href="javascript:void(0)" title="Privacy Policy">Privacy policy</a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Cookie Policy">Cookie policy</a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Find my MRP">Find my MRP</a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Terms & Conditions">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>