<div class="container">
    <div class="bw-userOrderHistory">
        <div class="bw-orderHistoryHead">
            <span>my profile</span>
            <b>hello <span>sairam kota!</span></b>
        </div>
        <div class="bw-ordersCont">
            <div class="bw-ocLeft">
                <div class="bw-orderLinks">
                    <b>overview</b>
                    <div class="bw-orderSection">
                        <b>orders</b>
                        <a href="javascript:void(0)" title="Orders & Refunds">orders &amp; refunds</a>
                    </div>
                    <div class="bw-orderSection">
                        <b>credits</b>
                        <a href="javascript:void(0)" title="Coupons">coupons</a>
                        <a href="javascript:void(0)" title="Myntra Credits">myntra credits</a>
                        <a href="javascript:void(0)" title="Myntra Points">myntra points</a>
                    </div>
                    <div class="bw-orderSection">
                        <b>account</b>
                        <a href="javascript:void(0)" title="Profile" class="active">profile</a>
                        <a href="javascript:void(0)" title="Saved Cards">Saved Cards</a>
                        <a href="javascript:void(0)" title="Addesses">Addesses</a>
                        <a href="javascript:void(0)" title="Myntra Insider">Myntra Insider</a>
                    </div>
                </div>
            </div>
            <div class="bw-ocRight">
                <div class="bw-ordersList">
                    <div class="bw-editProfile">
                        <div class="bw-profileDetails">
                            <span class="userPic">
                                <i class="bw-ico-user"></i>
                            </span>
                            <span class="userEmail">kotasairam777@gmail.com</span>
                        </div>
                        <span class="editProfile">edit profile</span>
                    </div>
                    <div class="bw-profileTabs">
                        <ul class="list-inline">
                            <li>
                                <div class="bw-profileTabCont">
                                    <div class="bw-tabDetails">
                                        <i class="bw-ico-order"></i>
                                        <b>Orders</b>
                                        <span>Check your order status</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bw-profileTabCont">
                                    <div class="bw-tabDetails">
                                        <i class="bw-ico-sale"></i>
                                        <b>Coupons</b>
                                        <span>Manage coupons for additional discounts</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bw-profileTabCont">
                                    <div class="bw-tabDetails">
                                        <i class="bw-ico-inr"></i>
                                        <b>Cashback</b>
                                        <span>Your cashback rewards go here</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bw-profileTabCont">
                                    <div class="bw-tabDetails">
                                        <i class="bw-ico-wallet"></i>
                                        <b>Saved Cards</b>
                                        <span>Save your cards for faster checkout</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bw-profileTabCont">
                                    <div class="bw-tabDetails">
                                        <i class="bw-ico-bookmark"></i>
                                        <b>Collections &amp; Wishlist</b>
                                        <span>All your curated product collections</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bw-profileTabCont">
                                    <div class="bw-tabDetails">
                                        <i class="bw-ico-contract"></i>
                                        <b>Profile Details</b>
                                        <span>Change your profile details &amp; password</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="bw-xsVisible bw-smooth showOrderMenu">
        <i class="bw-ico-list"></i>
    </span>
</div>
<div class="bw-globalOverlay bw-smooth"></div>