<header class="bw-header bw-smooth bw-lgVisible" *ngIf="retailerInfo">
    <div class="container">
        <div class="bw-headCont">
            <div class="bw-headTop">
                <ul class="list-inline">
                    <li>
                        <div class="bw-logo">
                            <a href="javascript:void(0)" title="BlueWes">
                                <img src="{{retailerInfo.logo[0].uploadedURL}}" alt="Bluewes Logo" style="height: 50px;">
                            </a>
                        </div>
                        <div class="bw-userLocation">
                            <small>delivery address</small>
                            <b class="userLocation">Hyderabad 500081</b>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                                aria-controls="dropdown-basic"> Fashion
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                                aria-controls="dropdown-basic"> Groceries
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                                aria-controls="dropdown-basic"> Electronics
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                                aria-controls="dropdown-basic"> Service
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bw-headBottom">
                <ul class="list-inline">
                    <li>
                        <div class="bw-shopBy">
                            <span class="bw-smooth shopByCTA" data-id="showCat">shop by category</span>
                        </div>
                        <div class="bw-shopBy">
                            <span class="bw-smooth shopByCTA" data-id="showStores">more stores</span>
                        </div>
                    </li>
                    <li>
                        <div class="bw-mainSearch">
                            <input type="text" class="bw-formControl bw-smooth" placeholder="Search for">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>