<footer class="bw-footer" *ngIf="retailerInfo">
    <div class="container">
        <div class="bw-footerLinks">
            <ul class="list-inline">
                <li>
                    <div class="bw-footLinks">
                        <b>{{retailerInfo.name}}</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/footer/faq" title="About Us">About Us</a>
                            </li>
                            <li>
                                <a href="/footer/news" title="In News">In News</a>
                            </li>
                            <li>
                                <a href="/footer/bigbasket" title="Bigbasket">Bigbasket</a>
                            </li>
                            <li>
                                <a href="/footer/privacy-policy" title="Privacy Policy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/footer/affiliate" title="Affiliate">Affiliate</a>
                            </li>
                            <li>
                                <a href="/footer/terms-conditions" title="Terms & Conditions">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="/footer/careers" title="Careers At {{retailerInfo.name}}">Careers At {{retailerInfo.name}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>Our Services</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/footer/groceries" title="Groceries">Groceries</a>
                            </li>
                            <li>
                                <a href="/footer/fashion" title="Fashion">Fashion</a>
                            </li>
                            <li>
                                <a href="/footer/electronics" title="Electronics">Electronics</a>
                            </li> 
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>HELP</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/footer/faq" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="/footer/contact-us" title="Contact Us">Contact Us</a>
                            </li>
                            <li>
                                <a href="/footer/wallet-tc" title="bb Wallet FAQs">bb Wallet FAQs</a>
                            </li>
                            <li>
                                <a href="/footer/wallet-faq" title="bb Wallet T&Cs">bb Wallet T&Cs</a>
                            </li>
                            <li>
                                <a href="/footer/vendor" title="Vendor Connect">Vendor Connect</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>FOLLOW US</b>
                        <ul class="list-inline socialLinks">
                            <li>
                                <a href="javascript:void(0)" title="{{retailerInfo.name}} Facebook">
                                    <span><i class="bw-ico-facebook"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="{{retailerInfo.name}} Twitter">
                                    <span><i class="bw-ico-twitter"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="{{retailerInfo.name}} Instagram">
                                    <span><i class="bw-ico-instagram"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bw-copyRight text-center">
            <p>&copy; {{retailerInfo.name}} </p>
            <ul class="list-inline">
                <li>
                    <a href="/footer/privacy-policy" title="Privacy Policy">Privacy policy</a>
                </li>
                <li>
                    <a href="/footer/cookie-policy" title="Cookie Policy">Cookie policy</a>
                </li>
                <li>
                    <a href="/footer/mrp" title="Find my MRP">Find my MRP</a>
                </li>
                <li>
                    <a href="/footer/terms-conditions" title="Terms & Conditions">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>