<footer class="bw-footer">
    <div class="container">
        <div class="bw-footerLinks">
            <ul class="list-inline">
                <li>
                    <div class="bw-footLinks">
                        <b>BLUEWES</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="javascript:void(0)" title="About Us">About Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="In News">In News</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Bigbasket">Bigbasket</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Affiliate">Affiliate</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Terms & Conditions">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Careers At BLUEWES">Careers At BLUEWES</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>Our Services</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="javascript:void(0)" title="Groceries">Groceries</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Fashion">Fashion</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Services">Services</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Electronics">Electronics</a>
                            </li> 
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>HELP</b>
                        <ul class="list-unstyled">
                            <li>
                                <a href="javascript:void(0)" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Contact Us">Contact Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="bb Wallet FAQs">bb Wallet FAQs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="bb Wallet T&Cs">bb Wallet T&Cs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="Vendor Connect">Vendor Connect</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bw-footLinks">
                        <b>FOLLOW US</b>
                        <ul class="list-inline socialLinks">
                            <li>
                                <a href="javascript:void(0)" title="BlueWes Facebook">
                                    <span><i class="bw-ico-facebook"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="BlueWes Twitter">
                                    <span><i class="bw-ico-twitter"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" title="BlueWes Instagram">
                                    <span><i class="bw-ico-instagram"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bw-copyRight text-center">
            <p>&copy; Bluewes </p>
            <ul class="list-inline">
                <li>
                    <a href="javascript:void(0)" title="Privacy Policy">Privacy policy</a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Cookie Policy">Cookie policy</a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Find my MRP">Find my MRP</a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Terms & Conditions">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>